{% assign title = site.data.type[page.collection].title %}

<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <link href="/assets/css/index.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Noto+Sans" rel="stylesheet">
</head>
