<head>{% assign title = site.data.type[page.collection].title %}
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:image" content="/assets/img/terminal/terminal512.png">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <link href="/assets/css/index.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Noto+Sans" rel="stylesheet">
  <link href="/assets/img/terminal/favicon.gif" rel="shortcut-icon" type="image/gif">
  <link href="/assets/img/terminal/favicon.gif" rel="icon" type="image/gif">
  <link href="/assets/manifest.json" rel="manifest">
</head>
<div class="head-pad"></div>
