header
    h1
        font-size: 1.25em
        padding: 0px
        margin: 0px
    background-color: #aaaaaa
    padding: 1em

main
    display: flex
    overflow-x: auto

nav
    h1
        margin: 0
        padding: 0 0 0 0.5em
        font-size: 1em
    ul
        list-style: none
        margin: 0  
        padding: 0
    li
        padding: 0.1em 0.1em 0.1em 1em
        display: flex
    a, b
        font-size: 0.8em
    .option
        background: #ffffff
        transition: background 0.3s
        &:hover
            background: #aaaaff
    .selected
        background: #aaaaff
    padding: 0.5em 0.5em 0.5em 0
    width: 12em
    flex-shrink: 0

article
    flex-grow: 1
    padding: 0.5em
    h1
        font-size: 2em
    @media (min-width: 800px)
        padding: 0 3em 0 3em


footer
    background-color: #bbbbbb
    padding: 1em
    text-align: center
    flex-grow: 1
    margin-top: 2em
