header
    h1
        font-size: 1.25em
        padding: 0px
        margin: 0px
    background-color: #aaaaaa
    padding: 1em

main
    display: flex
    overflow-x: auto

nav
    h1
        margin: 0
        padding: 0 0 0 0.5em
        font-size: 1em
    ul
        list-style: none
        margin: 0  
        padding: 0
    li
        padding: 0.1em 0.1em 0.1em 1em
        display: flex
    a, b
        font-size: 0.8em
    a
        color: inherit
        text-decoration: none
    .option
        background: #ffffff
        transition: background 0.3s
        &:hover
            background: #aaaaff
    .selected
        background: #aaaaff
    padding: 0.5em 0.5em 0.5em 0
    width: 12em
    flex-shrink: 0

article
    flex-grow: 1
    padding: 0.5em
    table
        width: 100%
        border-collapse: collapse
    th, td
        padding-left: 1em
        padding-right: 1em
    th
        text-align: left
    td
        border-top: 1px solid #eeeeee
        border-bottom: 1px solid #eeeeee
    h1
        font-size: 2em
    @media (min-width: 800px)
        padding: 0 3em 0 3em


footer
    background-color: #bbbbbb
    padding: 1em
    text-align: center
    flex-grow: 1
    margin-top: 2em