@import divs
@import majik

body
    font-family: "Roboto", "Noto Sans", "Ubuntu", "Arial", sans-serif
    padding: 0px
    margin: 0px
    display: flex
    flex-direction: column

code
    font-family: "Roboto Mono", "Noto Mono", "Ubuntu Mono", "Courier", monospace

.default
    color: inherit
    text-decoration: none